body {
  background-image: url('http://mlb.mlb.com/mlb/images/devices/ballpark/1920x1080/1.jpg');
  background-repeat: no-repeat;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

#header {
  display: flex;
  flex-direction: column;
}

.no-games-hide {
  display: none;
}

.no-games-show {
  display: flex;
  justify-content: center;
}

.carousel-container {
  display: flex;
  align-items: center;
  height: 100vh;
}

ul {
  display: flex;
  overflow-x: auto;
  min-height: 200px;
  align-items: center;
}

ul::-webkit-scrollbar {
  display: none;
}

li {
  display: flex;
  flex-direction: column;
  list-style: none;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}

li .headline {
  display: none;
}

img {
  height: 100px;
  width: 200px;
}

.headline {
  text-align: center;
  font-size: 10px;
}

.active {
  transform: scale(1.5);
  border: 1px solid white;
}

.active .headline {
  display: block;
}

.modal .overlay {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
  display: none;
}

.modal .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 500px;
  height: 250px;
  z-index: 2;
  text-align: center;
  padding: 20px;
}

.modal.active .overlay {
  display: block;
}

.modal.active .modal-content {
  transition: all 500ms ease-in-out;
  transform: translate(-50%, -50%) scale(0.8);
}
